<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partialsDashboard/head') %>
</head>

    <body class="dashboard">

    <%- include('partialsDashboard/header') %>

    <!-- row section -->
    <main class="u-section-row padding-tb">
      <section class="main_login">


          <div class="tabset">
              <!-- Tab 1 Inicio de Sesion-->
              <input type="radio" name="tabset" id="tab1" aria-controls="marzen" 

              <% if (registro==0) { %>
               checked
              <% } %> >
              <label for="tab1">Buscar usuario</label>
              <!-- Tab 2 Registro-->
              <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier"
              <% if (registro==1) { %>
                  checked
                 <% } %>>
              <label for="tab2">Crear usuario</label>

              <div class="tab-panels">
                  <section id="marzen" class="tab-panel">
                      <h2 class="reg-login">Buscar usuario</h2>

                      <form action="/user/userToEdit" method="post" class="formulario">

                          <label for="email">Ingrese email de usuario</label>
                          <input type="text" name="email" id="email" class="border-box"
                          value="<%= locals.oldValues? locals.oldValues.email:null %>">
                          <% if (locals.errors && errors.email) { %>
                              <p class="errorMsg">
                              <%= errors.email.msg %>
                              </p>
                              <% } %>

                         
                          <div class="w-100 botones padding-tb">
                              <button class="submit" type="submit">Buscar usuario</button>
                          </div>
                      </form>

                  </section>


                  <section id="rauchbier" class="tab-panel">
                      <h2 class="reg-login">Crear usuario</h2>
                      <form action="/user/createUserAdmin" method="post" enctype="multipart/form-data"
                            class="formulario bg-gris-claro" >
                           
                            <label for="first_name">Nombre</label>
                            <input type="text" name="first_name" id="first_name" class="border-box is-invalid"
                                   value="<%= locals.oldValues? locals.oldValues.first_name:null %>">

                            <% if (locals.errors && errors.first_name) { %>
                                <p class="errorMsg">
                                <%= errors.first_name.msg %>
                                </p>
                            <% } %>
                            <label for="last_name">Apellido</label>
                            <input type="text" name="last_name" id="last_name" class="border-box"
                                   value="<%= locals.oldValues? locals.oldValues.last_name:null %>">
                            <% if (locals.errors && errors.last_name) { %>
                                <p class="errorMsg">
                                <%= errors.last_name.msg %>
                                </p>
                            <% } %>
                            <label for="identification_document">DNI</label>
                            <input type="text" name="identification_document" id="identification_document" class="border-box"
                                   value="<%= locals.oldValues? locals.oldValues.identification_document:null %>">
                            <% if (locals.errors && errors.identification_document) { %>
                                <p class="errorMsg">
                                    <%= errors.identification_document.msg %>
                                </p>
                            <% } %>
                            <label for="email">Correo electrónico</label>
                            <input type="text" name="email" id="email" class="border-box"
                                   value="<%= locals.oldValues? locals.oldValues.email:null %>">
                             <% if (locals.errors && errors.email) { %>
                                <p class="errorMsg">
                                <%= errors.email.msg %>
                                </p>
                                <% } %>
                                <label for="user">Usuario</label>
                                <input type="text" name="user" id="user"
                                       class="border-box"
                                    value="<%= locals.oldValues? locals.oldValues.user:null %>">
                                <% if (locals.errors && errors.user) { %>
                                    <p class="errorMsg">
                                    <%= errors.user.msg %>
                                    </p>
                                <% } %>
                                <label for="birthdate">Fecha de nacimiento</label>
                                <input type="date" name="birthdate"
                                        id="birthdate" class="border-box"
                                        value="<%= locals.oldValues? locals.oldValues.birthdate:null %>">
                                <% if (locals.errors && errors.birthdate){ %>
                                    <p class="errorMsg">
                                    <%= errors.birthdate.msg %>
                                    </p>
                                <% } %>
                                <label for="adress">Domicilio</label>
                                <input type="text" name="adress"
                                       id="adress" class="border-box"
                                       value="<%= locals.oldValues? locals.oldValues.adress:null %>">
                                <% if (locals.errors && errors.adress) { %>
                                       <p class="errorMsg">
                                       <%= errors.adress.msg %>
                                        </p>
                                <% } %>
                               
                                 
                                
                                <label for="password">Ingrese supassword</label>
                                <input type="password" name="password" id="password" class="border-box">
                                <% if (locals.errors && errors.password) { %>
                                    <p class="errorMsg">
                                    <%= errors.password.msg %>
                                    </p>
                                 <% } %>
                                <label for="confirmarpassword">Confirme password</label>
                                <input type="password" name="confirmarpassword" id="confirmarpassword" class="border-box">
                                <% if (locals.errors && errors.confirmarpassword){ %>
                                    <p class="errorMsg">
                                     <%= errors.confirmarpassword.msg %>
                                    </p>
                                <% } %>
                                
                                <label for="image">Seleccione una imagen</label>
                                <input type="file" name="image" accept="image/png,image/jpeg" class="border-box">

                                
                          
                              <div class="w-100">
                                <label for="role_id" class="form-label">Credenciales</label>
                                <select name="role_id" id="role_id" class="form-input">
                                  <option value="">Elegí</option>
                                  <option value="2">Cliente</option>
                                  <option value="1" >Administrador</option>
                                </select>
                              </div>
                  
                              <div class="w-100 botones padding-tb">
                                    <button class="rest" type="reset">Borrar</button>
                                    <button class="submit" type="submit">Registrarme</button>
                                      
                              </div>
                      </form>
                  </section>


              </div>

          </div>
          <!-- </div> -->
      </section>
  </main>
    <!-- Fin row section -->

    <!-- Copyright -->
    <%- include('partialsDashboard/footer') %>
        
    </body>

</html>