<article class="productos">
    <a href="/<%= product.id %> /productDetail">

        <div class="efect">
            <img class="img-product efect-img1" src="/images/product/<%= product.images[0].name_archive %>" alt="Imagen remera">
            <img class="img-product efect-img2" src="/images/product/<%= product.images[1].name_archive %>" alt="Imagen remera">
            </div>
        <div class="div-productos">
        <div class="div-productos">
            <h4 class="nombre"><%= product.name %></h4>
            <p class="descuento"><s><%= product.price %></s>  <strong>$<%= product.discount %></strong></p>
            <a href="/<%= product.id %> /productDetail" class="submit"><i class="fas fa-eye"> </i> Ver Producto</a>
        </div>
    </a> 
   
</article>